.vote-btn {
  margin-top: 15px;
  background-color: #273d90;
  color: rgb(255,255,255);
  font-size: 21px;
  font-weight: bold;
  border: none;
}

.logo-card {
  position: relative;
}

.logo {
  background-color: #e6f6ff;
  padding: 6px;
}
span.logo-number {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: #273d90;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 21px;
}

body {
  font-family: 'Roboto Condensed';
}

span {
  display: inline-block;
}

.h1, h1 {
  text-align: center;
  padding: 1vh;
}

p {
  text-align: center;
}

.thumbnail {
  background-color: #e6f6ff;
  padding: 6px;
}

.h2, h2 {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

hr {
  border-color: #273d90;
  border-width: 3px;
  margin-bottom: 32px;
}

body {
  padding-top: 1vh;
}

.small, small {
  display: block;
  text-align: center;
  font-size: 1rem;
}

.container.logos-box > .row > div {
  margin-bottom: 32px;
}

.jumbotron {
  background: white;
}




/* Scrren loader  */
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display:none;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #007effb8;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
label {
  color: #243c92;
}
.form-control {
  border-color: #243c92;
  border-width: 2px;
  background-color:#f1f4ff;
}
.form-control::placeholder{
  opacity: .7;
  font-size:small;
}
.invalide {
  border-color: red;
  border-width: 2px;
  background-color:#f1f4ff;
}
.validation-msg{
  display:none;
  text-align: left;
}

.bounce-once{
  animation: bounceOnce .5s;
}
@keyframes bounceOnce{
  0%{transform: scale(1);}
  30%{transform: scale(1.05);}
  100%{transform: scale(1);}
}
h3 {
  color: #243c92;
}